/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

.env.ko
fig.yml

# old repo files
public/LICENSE
public/README.md
public/_css/
public/_files/
public/_images/
public/_js/
public/_library/
public/active_detail.html
public/active_list.html
public/bower.json
public/ctrl/
public/deploy.sh
public/farmer.html
public/farmer_search.html
public/food.html
public/food_class.html
public/food_class_farmers.html
public/index.html
public/login.html
public/logout.html
public/member/
public/plugin/
public/schedule.html
public/store_detail.html
public/store_search.html
public/test.sh
public/upload.php
public/work_detail.html
public/work_search.html
